{% trans_default_domain 'FOSUserBundle' %}

<div class="user">
    <p class="user__name">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p class="user__email">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>